.catalogue-page {
    max-width: 75vw;
    margin: auto;
}

.cat-container {
    margin-block: 4ch;
}

.modalImage {
    display: flex;
    justify-content: center;
    padding: 20px 0px;
}

.modalImage img {
    min-width: 500px;
    max-width: 500px;
    max-height: 60vh;
    object-fit: contain;
}

.closeModal {
    display: flex;
    position: absolute;
    right: 0;
    top: 0;
    padding: 5px;
}