/* ================================================ */
/*  CONTAINER
/* ================================================ */

.header-container {
    padding: 0;
    margin: 0;
}

/* ================================================ */
/*  LOGO SECTION
/* ================================================ */

.logo-section {
    font-family: 'Quintessential';
}

.logo-section .title {
    font-family: 'CuteMeow';
    font-size: 5rem;
    padding: 1ch;
    line-height: 0;
}

.logo-section .subtitle {
    font-size: 2rem;
    padding-bottom: 1ch;
}