@import url('https://fonts.googleapis.com/css2?family=Forum&display=swap');
@font-face {
    font-family: "CuteMeow";
    src: url("./styles/fonts/cute-meow.otf") format("opentype");
}

body {
    margin: 0;
    font-family: 'Forum', cursive;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: antiquewhite;
    text-align: center;
}